<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JspServlets_tp2</display-name>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BootStrap</servlet-name>
    <servlet-class>org.insia.utils.Bootstrap</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MainController</servlet-name>
    <servlet-class>org.insia.controllers.MainController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.insia.controllers.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>org.insia.controllers.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppController</servlet-name>
    <servlet-class>org.insia.controllers.AppController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartController</servlet-name>
    <servlet-class>org.insia.controllers.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppController</servlet-name>
    <url-pattern>/createApp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppController</servlet-name>
    <url-pattern>/app</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ConnectionFilter</filter-name>
    <filter-class>org.insia.filters.ConnectionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConnectionFilter</filter-name>
    <url-pattern>/createApp</url-pattern>
  </filter-mapping>
</web-app>