<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<web-app>
  <display-name>Struts Hibernate Examples</display-name>

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
        org.apache.struts.action.ActionServlet
    </servlet-class>
    <init-param>
        <param-name>config</param-name>
        <param-value>
         /WEB-INF/struts-config.xml
        </param-value>
    </init-param>
   	<init-param>
		<param-name>log4j-properties-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</init-param>
   <load-on-startup>2</load-on-startup>
  </servlet>
 
  <servlet-mapping>
       <servlet-name>action</servlet-name>
       <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
    <!-- The Usual Welcome File List -->
  <welcome-file-list>
   <welcome-file>ListPizza.do</welcome-file>
  </welcome-file-list>

<!-- Constraint -->
<security-constraint>
    <display-name>Constraint</display-name>
    <web-resource-collection>
      <web-resource-name>StrutsSpringExample</web-resource-name>
      <!-- Define the context-relative URL(s) to be protected -->
      <url-pattern>/MyCart.do</url-pattern>
      <!-- If you list http methods, only those methods are protected -->
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <!-- Anyone with one of the listed roles may access this area -->
      <role-name>tomcat</role-name>
      <role-name>role1</role-name>
    </auth-constraint>
  </security-constraint>
  
  <!-- Default login configuration uses form-based authentication  -->
  <login-config>
	<auth-method>FORM</auth-method>
    <realm-name>Example Form-Based Authentication Area</realm-name>
    <form-login-config>
      <form-login-page>/pages/customer/login.jsp</form-login-page>
      <form-error-page>/pages/customer/error.jsp</form-error-page>
    </form-login-config> 

  </login-config>
 
        
  <!-- Security roles referenced by this web application -->
  <security-role>
    <role-name>role1</role-name>
  </security-role>
  <security-role>
    <role-name>tomcat</role-name>
  </security-role> 
</web-app>