<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>yby_BookShopWeb</display-name>
  
  <servlet>
    <description></description>
    <display-name>ListeArticlesServlet</display-name>
    <servlet-name>ListeArticlesServlet</servlet-name>
    <servlet-class>com.sqli.bookshop.servlet.ListeArticlesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeArticlesServlet</servlet-name>
    <url-pattern>/ListeArticles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArticleToShoppingCart</display-name>
    <servlet-name>AddArticleToShoppingCart</servlet-name>
    <servlet-class>com.sqli.bookshop.servlet.AddArticleToShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticleToShoppingCart</servlet-name>
    <url-pattern>/AddArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArticleServlet</display-name>
    <servlet-name>AddArticleServlet</servlet-name>
    <servlet-class>com.sqli.bookshop.servlet.AddArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticleServlet</servlet-name>
    <url-pattern>/AddArticleBdd</url-pattern>
  </servlet-mapping>
</web-app>